# Data Modelling Project

### Data Modelling: Data modeling means first getting the data sets then identifying which columns we require for our analysis then creating an Entity model by establishing relations between the tables/data sets. Then create a database and tables and then load the cleaned data sets with specified columns into the tables we created in the database.

# The datasets I used for the project 
#### C:\Users\gajul\OneDrive\Data_science\Datasets_DataModelling

### Reading the dataset files using pandas
As they are csv files we are just using pandas to read them

In [ ]:
import pandas as pd

In [ ]:
Account_country = pd.read_csv("C:/Users/gajul/OneDrive/Data_science/Datasets_DataModelling/Wealth-AccountsCountry.csv")

In [ ]:
Account_country.head()

In [ ]:
Account_country_cleaned = Account_country[["Code", "Short Name", "Table Name", "Long Name", "Currency Unit"]]

In [ ]:
Account_country_cleaned.head()

In [ ]:
Account_Data = pd.read_csv("C:/Users/gajul/OneDrive/Data_science/Datasets_DataModelling/Wealth-AccountData.csv")

In [ ]:
Account_Data.columns

In [ ]:
Account_Data_Cleaned =  Account_Data.drop (['2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'], axis =1)

In [ ]:
Account_Data_Cleaned.head()

In [ ]:
Account_Data.rename(columns = {"Series Name" : "Indicator Name"}, inplace=True)

In [ ]:
Account_Data.head()

In [ ]:
Account_Series = pd.read_csv("C:/Users/gajul/OneDrive/Data_science/Datasets_DataModelling/Wealth-AccountSeries.csv")

In [ ]:
Account_Series.rename(columns = {"Code" : "Series Code"}, inplace=True)

In [ ]:
Account_Series.head()

In [ ]:
# Account_Series = Account_Series.drop(["Previous Indicator Code", "Previous Indicator Name"], axis=1)
Account_Series_Cleaned= Account_Series[["Series Code", "Topic", "Indicator Name"]]

In [ ]:
Account_Series_Cleaned.head()

# Creating databases and Tables.  
Using functions to create databases and tables as their functionalities require multiple times

In [ ]:
import psycopg2

In [ ]:
#Establishing a connection with the 

conn = psycopg2.connect("host=localhost dbname =postgres user=postgres password =0427")
conn.set_session(autocommit = True)
cur= conn.cursor()
#cur.execute("DROP DATABASE IF EXISTS Accounts")
#cur.execute("CREATE DATABASE Accounts")
cur.close()
conn.close()
conn = psycopg2.connect("host=localhost dbname =accounts user=postgres password =0427")
cur =conn.cursor()

In [ ]:
#cur.execute("DROP TABLE account_country")

In [ ]:
cur.execute("CREATE TABLE IF NOT EXISTS account_country(\
                              Country_Code Varchar,\
                              Short_Name Varchar,\
                              Table_Name Varchar,\
                              Long_Name Varchar,\
                              Currency_Unit Varchar)")
conn.commit()

In [ ]:
cur.execute("CREATE TABLE IF NOT EXISTS account_data(\
            Country_Name Varchar,\
            Country_Code Varchar,\
            Indicator_Name Varchar,\
            Series_Code Varchar,\
            year_1995 decimal,\
            year_1996 decimal,\
            year_1997 decimal,\
            year_1998 decimal,\
            year_1999 decimal,\
            year_2000 decimal,\
            year_2001 decimal,\
            year_2002 decimal,\
            year_2003 decimal,\
            year_2004 decimal,\
            year_2005 decimal,\
            year_2006 decimal,\
            year_2007 decimal,\
            year_2008 decimal,\
            year_2009 decimal,\
            year_2010 decimal)")
conn.commit()

In [ ]:
# cur.execute("CREATE TABLE IF NOT EXISTS account_series(\
#             Series_code Varchar,\
#             Topic Varchar,\
#             Indicator_Name)")
# conn.commit()

# Insering data into Database

In [ ]:
accounts_country_table_insert = ("INSERT INTO account_country(\
Country_Code,\
Short_Name,\
Table_Name,\
Long_Name,\
Currency_Unit)\
VALUES (%s, %s, %s, %s,%s)")

In [ ]:
for i, row in Account_country_cleaned.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

In [ ]:
conn.commit()

In [ ]:
accounts_data_table_insert = ("INSERT INTO account_data(\
            Country_Name,\
            Country_Code,\
            Indicator_Name,\
            Series_Code,\
            year_1995,\
            year_1996,\
            year_1997,\
            year_1998,\
            year_1999,\
            year_2000,\
            year_2001,\
            year_2002,\
            year_2003,\
            year_2004,\
            year_2005,\
            year_2006,\
            year_2007,\
            year_2008,\
            year_2009,\
            year_2010)\
            VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")

In [ ]:
import numpy as np
def g(df):
    for i, row in df.iterrows():
        try:
            # Replace '..' with NaN
            row = row.replace('..', np.NAN)
            yield list(row)
        except:
            pass

In [ ]:
account_data_cleaned_2 = pd.DataFrame(list(g(Account_Data_Cleaned.copy())))

In [ ]:
for i, row in account_data_cleaned_2.iterrows():
    cur.execute(accounts_data_table_insert, list(row))
    #print(list(row))

In [ ]:
account_series_inserted = ("INSERT INTO account_series(\
                            Series_Code,\
                            Topic,\
                            Indicator_Name)\
                            VALUES (%s,%s,%s)")

In [ ]:
for i, row in Account_Series_Cleaned.iterrows():
    cur.execute(account_series_inserted, list(row))
conn.commit()

In [ ]:
Account_Series.head()